<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.designproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.designproject.FireAlertApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >"
        <activity
            android:name="com.designproject.controllers.FireAlertSplash"
            android:label="@string/title_activity_fire_alert_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.designproject.controllers.LoginScreen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name="com.designproject.controllers.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.designproject.MenuListActivity"
            android:label="@string/title_menu_list" >
        </activity>
        <activity
            android:name="com.designproject.MenuDetailActivity"
            android:label="@string/title_menu_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuListActivity" />
        </activity>
        <activity
            android:name="com.designproject.controllers.InspectionController"
            android:label="@string/title_activity_inspection_view"
            android:parentActivityName="com.designproject.controllers.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designproject.MainMenu" />
        </activity>
        <activity
            android:name="com.designproject.controllers.ContractController"
            android:label="@string/title_activity_inspection_overview"
            android:parentActivityName="com.designproject.controllers.InspectionController" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designproject.InspectionView" />
        </activity>
        <activity
            android:name="com.designproject.controllers.RoomController"
            android:label="@string/title_activity_equipment_inspection_list"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designproject.InspectionOverview" />
        </activity>
        <activity
            android:name="com.designproject.InspectionOverviewCollection"
            android:label="@string/title_activity_inspection_overview_v2"
            android:parentActivityName="com.designproject.controllers.InspectionController" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designproject.InspectionView" />
        </activity>
        <activity
            android:name="com.designproject.controllers.EquipmentController"
            android:label="@string/title_activity_inspection_form"
            android:parentActivityName="com.designproject.controllers.EquipmentController" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designproject.InspectionView" />
        </activity>
        <activity
            android:name="com.designproject.controllers.FloorController"
            android:label="@string/title_room_list"
            android:parentActivityName="com.designproject.ContractController" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.designproject.InspectionOverview" />
        </activity>
        <activity
            android:name="com.designproject.controllers.DisplayListActivity"
            android:label="@string/title_activity_display_list" >
        </activity>
        <activity
            android:name="com.designproject.controllers.DisplayLocationsActivity"
            android:label="@string/title_activity_display_locations" >
        </activity>
        <activity
            android:name="com.designproject.controllers.SettingsController"
            android:label="@string/title_activity_settings_controller" >
        </activity>
        <activity
            android:name="com.designproject.controllers.SendController"
            android:label="@string/title_activity_send_controller" >
        </activity>
        <activity
            android:name="com.designproject.controllers.DisplaySpecificClientLocationActivity"
            android:label="@string/title_activity_display_specific_client_location" >
        </activity>
    </application>

</manifest>
